@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  background-color: #202b38;
  max-width: 800px;
  margin: 0 auto;
  @apply bg-white dark:bg-slate-800;
}

#evalbar {
  transition: height 0.5s ease-out;
}

h1 {
  @apply text-blue-500 text-4xl mt-3 mb-3 w-full text-center;
}
.new-game {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-5 px-4 mt-8 rounded;
  position: absolute;
  top: 160px;
  left: 160px;
}
.square {
  @apply w-16 h-16 aspect-square border select-none border-gray-300 dark:border-gray-800;
}

.btn {
  @apply rounded-lg text-center p-4 text-lg;
}

.twitter {
  @apply bg-blue-400 hover:bg-blue-500;
}

.twitch {
  @apply bg-purple-600 hover:bg-purple-700;
}

.btn-red {
  @apply bg-red-500 hover:bg-red-600;
}

.btn-yellow {
  @apply bg-yellow-500 hover:bg-yellow-600;
}

.square div {
  @apply h-full flex items-center;
}
.square img {
  @apply w-10 h-10 rounded-full mx-auto;
}

.type-0 {
  @apply rounded-full hover:bg-blue-200 dark:hover:bg-blue-900 cursor-pointer;
}

@keyframes fall {
  0% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0px);
  }
}

.type-R {
  @apply bg-red-500 rounded-full;
}

.type-r {
  @apply bg-red-500 rounded-full;
  animation: fall 0.3s ease-in;
}

.type-Y {
  @apply bg-yellow-500 rounded-full;
}

.type-y {
  @apply bg-yellow-500 rounded-full;
  animation: fall 0.3s ease-in;
}

#signature {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signature a {
  text-decoration: none;
  color: #41adff;
}

#signature a:hover {
  text-decoration: underline;
}

#signature svg {
  width: 36px;
  height: 36px;
  margin-top: -4px;
  vertical-align: middle;
  display: inline;
}

#form {
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

#count {
  font-size: 24px;
}
